body {
    margin: 0px;
    overflow-x: hidden;
}


/* Header */
header {
    height: 400px;
    background: linear-gradient(to bottom, rgb(9, 243, 243), rgb(2, 29, 29));
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    color: white;
    padding: 105px 20vw;
    font-family: 'Lato', sans-serif;
}

.wave {
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
}

.wave::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: white;
    transform: translate(85.21%, 60%);
}

.wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background: rgb(2, 29, 29);
    transform: translate(-4%, 40.8%);
    z-index: -1;
}
/* End of Header */


/* Section 1 and 2 */
.section-one {
    text-align: left;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 175px;
}

.section-one h2 {
    color: rgb(23, 158, 158);
    letter-spacing: 2px;
}

.section-two {
    text-align: right;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 75px;
}

.section-two h2 {
    color: rgb(23, 158, 158);
    letter-spacing: 2px;
}
/* End of Sections */


/* Footer */
footer {
    text-align: center;
    background-color: rgb(2, 29, 29);
    height: 100px;
}

footer p {
    color: white;
    padding-top: 45px;
}
/* End of Footer */
